<?xml version="1.0" encoding="utf-8"?>
<configurations>
    <pageSetups>
        <pageSetup name="default">
            <paper size="A3" landscape="true" description="用紙サイズおよび向きの設定" constraint="NPOI.SS.UserModel.PaperSize"/>
            <scaling description="拡大縮小印刷(adjustToまたはfitToPageのいずれか一方を指定">
                <!-- <adjust description="拡大縮小(%)" scale="120"/> -->
                <fit description="次のページ数に合わせて印刷" wide="1" tall="0"/>
            </scaling>
            <margins desicrption="各種余白">
                <header desicrption="ヘッダー(cm)" value="1.2"/>
                <footer desicrption="フッター(cm)" value="0.5"/>
                <body desicrption="上右下左(cm)" top="2" right="0.5" bottom="1.5" left="0.5"/>
            </margins>
            <center desicrption="ページ中央(水平および垂直)" horizontally="true" vertically="false"/>
            <titles description="タイトル行/タイトル列設定" row="$1:$1" column=""/>
        </pageSetup>
    </pageSetups>
    <font description="フォント" name="Yu Gothic UI" size="9"/>
    <!-- <font description="フォント" name="Yu Gothic UI"/> -->
    <cellStyles>
        <cellStyle name="title" description="タイトル行">
            <border description="罫線スタイル" top="Thin" right="Thin" bottom="Double" left="Thin" constraint="NPOI.SS.UserModel.BorderStyle"/>
            <align description="文字の配置" horizontal="Center" vertical="Center" constraint="NPOI.SS.UserModel.HorizontalAlignment, NPOI.SS.UserModel.VerticalAlignment"/>
            <wrapText description="文字の折り返し" value="true"/>
            <dataFormat description="表示書式" value="text" remarks="textを指定すると[標準]と解釈されるが、セルの内容が数字のみの場合[文字列]と解釈される"/>
            <fill description="塗りつぶしの色" color="Grey25Percent" constraint="NPOI.SS.UserModel.IndexedColors"/>
        </cellStyle>
        <cellStyle name="standard" description="名称等の通常文字列">
            <border top="Thin" right="Thin" bottom="Thin" left="Thin"/>
            <align horizontal="Left" vertical="Center"/>
            <wrapText value="false"/>
            <dataFormat value="text"/>
        </cellStyle>
        <cellStyle name="code" description="コード(先頭ゼロが失われることを防止)">
            <border top="Thin" right="Thin" bottom="Thin" left="Thin"/>
            <align horizontal="Center" vertical="Center"/>
            <wrapText value="false"/>
            <dataFormat description="書式"  value="text"/>
        </cellStyle>
        <cellStyle name="date" description="日付">
            <border top="Thin" right="Thin" bottom="Thin" left="Thin"/>
            <align horizontal="Center" vertical="Center"/>
            <wrapText value="false"/>
            <dataFormat value="yyyy/mm/dd"/>
        </cellStyle>
        <cellStyle name="numeric" description="数値">
            <border top="Thin" right="Thin" bottom="Thin" left="Thin"/>
            <align horizontal="Right" vertical="Center"/>
            <wrapText value="false"/>
            <dataFormat value="#,##0;-#,##0"/>
        </cellStyle>
        <cellStyle name="currency" description="金額">
            <border top="Thin" right="Thin" bottom="Thin" left="Thin"/>
            <align horizontal="Right" vertical="Center"/>
            <wrapText value="false"/>
            <dataFormat value="&quot;\&quot;#,##0;&quot;\&quot;-#,##0"/>
        </cellStyle>
        <cellStyle name="standard_unlocked" description="シート保護時も入力可能なセル">
            <border top="Thin" right="Thin" bottom="Thin" left="Thin"/>
            <align horizontal="Right" vertical="Center"/>
            <wrapText value="false"/>
            <dataFormat value="text"/>
            <isLocked description="シートを保護しても入力したい場合のみlalseを設定する" value="false"/>
        </cellStyle>
    </cellStyles>
</configurations>
